.skills {
    padding-bottom: 10px;
}

.skills__list {
    list-style: none;
    display: flex;    
    justify-content: center;
    gap: 0 60px;
    flex-wrap: wrap;
    color: var(--light-color);
    width: 100%;
}

.skills__item {
    background-position: center top;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 40px;
}

.skills__item img {
    width: 60px;
    height: 50px;
}

.skills__item h4 {
    margin-top: 60px;
    font-weight: bold;
}

.skills__item p {
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    margin-top: 25px;
}